<h1>Movies Lists</h1>

<div>
  <ul> <% @lists.each do |list| %>
    <li> <%= link_to list.name, list_path(list) %> </li>
  <% end %>
  </ul>
</div>

<p> <%= link_to "Add a new list", new_list_path %> </p>
